h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.newitems {
  text-align: left;
}

.new-row {
  margin: 10px 5px;
}

.new-btn {
  min-width: 80px;
}

.newitems .new-btn {
  margin-left: 70px;
}
